{% include 'partials/star.html' with current_grade=0 %}
{% include 'partials/star.html' with current_grade=1 %}
{% include 'partials/star.html' with current_grade=2 %}
{% include 'partials/star.html' with current_grade=3 %}
{% include 'partials/star.html' with current_grade=4 %}
{#{% include 'partials/star.html' with current_grade=5 %}#}
{#{% include 'partials/star.html' with current_grade=6 %}#}
{#{% include 'partials/star.html' with current_grade=7 %}#}
{#{% include 'partials/star.html' with current_grade=8 %}#}
{#{% include 'partials/star.html' with current_grade=9 %}#}